<!-- <%@ page language="java" contentType="text/html; charset=UTF-8"
pageEncoding="UTF-8"%> <%@ page import="java.io.PrintWriter"%> -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>당신의 Book</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- prettyPopin의 표준 스타일을 임포트（1） -->
        <link rel="stylesheet" href="css/prettyPopin.css" type="text/css"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <!-- jquery cdn library-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!-- prettyPopin라이브러리를 임포트（3） -->
        <script type="text/javascript" src="jquery.prettyPopin.js"></script>
        <script type="text/javascript" src="myjquery.js"></script>
        <!-- 로고 이미지 logo free text site 활용-->
        <!-- 전체 이미지 Unsplash site 활용-->
        <style>
            body,
            html {
                width: 100%;
            }
            /* Remove the navbar's default margin-bottom and rounded borders */
            .navbar {
                background-color: rgb(221, 238, 235);
                margin-bottom: 0;
                border-radius: 0;

            }

            h1 {
                font-family: Georgia, 'Times New Roman', Times, serif;
            }

            .navbar-brand {
                position: relative;
                background: url("images/keria.png");
                width: 80px;
                height: 50px;
                background-size: cover;
                background-position: center;
            }

            /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
            .row.content {
                height: 100%;
            }

            /* Set gray background color and 100% height */
            .sidenav {
                padding-top: 20px;
                background-color: white;
                height: 100%;
            }

            .carousel {
                width: 80%;
                margin-left: 11%;
            }

            .flex-container {
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                font-style: italic;
            }

            .flex-container > div {
                background-color: rgb(245, 237, 237);
                width: 30%;
                margin: 20px 10px 10px;
                text-align: center;
                line-height: 30px;
                font-size: 15px;
                font-weight: bold;
                border-radius: 10px;
            }

            .flex-container > p {
                font-size: 120px;
            }

            .flex-container2 {
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                font-style: italic;
            }

            .flex-container2 > div {
                background-color: black;
                width: 30%;
                margin: 20px 10px;
                text-align: center;
                line-height: 20px;
                font-size: 15px;
                font-weight: bold;
                border-radius: 10px;
            }

            footer {
                background-color: rgb(221, 238, 235);
                color: black;
                padding: 15px;
                text-align: center;
            }

            #fixed {
                position: fixed;
                bottom: 10%;
                right: 10px;
                width: 100px;
                padding: 5px;
                color: black;
            }

            td.menu {
                padding: 10px;
                text-align: center;
            }

            .menutbl tr td {
                padding-top: 30px;

            }
            .menutbl tr td img {
                padding-bottom: 5px;
                border-radius: 8px;
            }
            .menutbl tr td select {
                margin: 10px;
                padding: 3px;
            }
        </style>
    </head>

    <!-- S: body
    ======================================================================================================-->

    <body>
        <!-- <% String userID = null; if (session.getAttribute("userID") != null) {
        userID = (String) session.getAttribute("userID"); } %> -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button
                        type="button"
                        class="navbar-toggle"
                        data-toggle="collapse"
                        data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="main.jsp"></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">

                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                소설
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">한국 소설</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">영미 소설</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                에세이
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">감동 에세이</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">감동 시집</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                IT 책
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">프로그래밍</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">자격증</a>
                            </div>
                        </li>
                    </ul>

                    <!-- <% if (userID == null) { %> -->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="login.jsp">
                                <span class="glyphicon glyphicon-log-in"></span>

                            </a>
                        <li>
                            <a href="join.jsp">
                                <span class="glyphicon glyphicon glyphicon-user"></span>

                            </a>
                        </li>

                    </li>
                </ul>

                <!-- <% } else{ %> -->

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a
                            href="#"
                            class="dropddown-toggle"
                            data-toggle="dropdown"
                            role="button"
                            aria-haspopup="true"
                            aria-expaned="false">Quick menu<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="logoutAction.jsp">LOGOUT 기능 구현중</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- <% } %> -->

                <form class="navbar-form navbar-left">
                    <form class="form-inline">
                        <input
                            class="form-control mr-sm-2"
                            type="search"
                            placeholder="Book name ? "
                            aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </div>
                </div>

            </form>
        </nav>
        <!-- nav 끝 ---------------------------------------------------->

        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-1 sidenav">
                    <p>
                        <a href="#">
                            <span class="glyphicon glyphicon-shopping-cart" style="color: black;"></span>
                        </a>
                    </p>
                    <p>
                        <a href="#">
                            <span class="glyphicon glyphicon-bell" style="color: black;"></span>
                        </a>
                    </p>
                    <p>
                        <a href="#">
                            <span class="glyphicon glyphicon-earphone" style="color: black"></span>
                        </a>
                    </p>
                </div>
                <div class="col-sm-10 text-left">
                    <h1 style="text-align: center;">Book order here</h1>
                    <hr>
                    <p></p>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="images/book1.jpg" alt="book1" style="width: 100%;">
                            </div>

                            <div class="item">
                                <img src="images/book2.jpg" alt="book2" style="width: 100%;">
                            </div>

                            <div class="item">
                                <img src="images/book3.jpg" alt="book3" style="width: 100%;">
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <br>
                    <hr>
                    <h1 style="text-align: center;">Order</h1>
                    <br>
                    <!-- S : book order,count-->
                    <div class="row">
                        <div class="col-sm-4" style="margin-left: 10%;">
                            <table class="menutbl">
                                <!-- <tr id="menutitle"> <th colspan=3 id="titleText">M E N U</th> </tr> -->
                                <tr class="menus">
                                    <td id='menu1' class='menu'>
                                        <a href="./files/regular1.html" rel="prettyPopin">
                                            <img src="images/order1.jpg"/></a>
                                        <br/>
                                        <span id="label1" value='IT 강국인가'>[IT 강국인가]</span>
                                        <span id="price1" value='12000'>12000</span>원
                                        <br/>
                                        수량 :
                                        <select name="menu1Count" id="menu1Count" class='menuCount'>
                                            <option value='0'>0</option>
                                            <option value='1'>1</option>
                                            <option value='2'>2</option>
                                            <option value='3'>3</option>
                                            <option value='4'>4</option>
                                            <option value='5'>5</option>
                                        </select>
                                    </td>
                                    <td id='menu2' class='menu'>
                                        <a href="./files/regular2.html" rel="prettyPopin">
                                            <img src="images/order2.jpg"/></a>
                                        <br/>
                                        <span id="label2" value='책과 로션'>[책과 로션]</span><br>
                                        <span id="price2" value='6000'>6000</span>원<br/>
                                        수량 :
                                        <select name="menu2Count" id="menu2Count" class='menuCount'>
                                            <option value='0'>0</option>
                                            <option value='1'>1</option>
                                            <option value='2'>2</option>
                                            <option value='3'>3</option>
                                            <option value='4'>4</option>
                                            <option value='5'>5</option>
                                        </select>
                                    </td>
                                    <td id='menu3' class='menu'>
                                        <a href="./files/regular3.html" rel="prettyPopin">
                                            <img src="images/order3.jpg"/></a>
                                        <br/>
                                        <span id="label3" value='대체로 맑음'>[대체로 맑음]</span>
                                        <span id="price3" value='9000'>9000</span>원<br/>
                                        수량 :
                                        <select name="menu3Count" id="menu3Count" class='menuCount'>
                                            <option value='0'>0</option>
                                            <option value='1'>1</option>
                                            <option value='2'>2</option>
                                            <option value='3'>3</option>
                                            <option value='4'>4</option>
                                            <option value='5'>5</option>
                                        </select>
                                    </td>

                                </tr>
                                <tr class="menus">
                                    <td id='menu4' class='menu'>
                                        <a href="./files/regular4.html" rel="prettyPopin">
                                            <img src="images/order4.jpg"/></a>
                                        <br/>
                                        <span id="label4" value='Facial'>[Facial]</span><br>
                                        <span id="price4" value='17000'>17000</span>원
                                        <br/>
                                        수량 :
                                        <select name="menu4Count" id="menu4Count" class='menuCount'>
                                            <option value='0'>0</option>
                                            <option value='1'>1</option>
                                            <option value='2'>2</option>
                                            <option value='3'>3</option>
                                            <option value='4'>4</option>
                                            <option value='5'>5</option>
                                        </select>
                                    </td>
                                    <td id='menu5' class='menu'>
                                        <a href="./files/regular5.html" rel="prettyPopin">
                                            <img src="images/order5.jpg"/></a>
                                        <br/>
                                        <span id="label5" value='상세한이름'>[상세한이름]</span><br>
                                        <span id="price5" value='8000'>8000</span>원<br/>
                                        수량 :
                                        <select name="menu5Count" id="menu5Count" class='menuCount'>
                                            <option value='0'>0</option>
                                            <option value='1'>1</option>
                                            <option value='2'>2</option>
                                            <option value='3'>3</option>
                                            <option value='4'>4</option>
                                            <option value='5'>5</option>
                                        </select>
                                    </td>
                                    <td id='menu6' class='menu'>
                                        <a href="./files/regular6.html" rel="prettyPopin">
                                            <img src="images/order6.jpg"/></a>
                                        <br/>
                                        <span id="label6" value='구름빛'>[구름빛]</span><br>
                                        <span id="price6" value='13500'>13500</span>원
                                        <br/>
                                        수량 :
                                        <select name="menu6Count" id="menu6Count" class='menuCount'>
                                            <option value='0'>0</option>
                                            <option value='1'>1</option>
                                            <option value='2'>2</option>
                                            <option value='3'>3</option>
                                            <option value='4'>4</option>
                                            <option value='5'>5</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="menus">
                                    <td id='menu7' class='menu'>
                                        <a href="./files/regular7.html" rel="prettyPopin">
                                            <img src="images/order7.jpg"/></a>
                                        <br/>
                                        <span id="label7" value='디지털 논리회로'>[디지털 논리회로]</span><br>
                                        <span id="price7" value='19000'>19000</span>원
                                        <br/>
                                        수량 :
                                        <select name="menu7Count" id="menu7Count" class='menuCount'>
                                            <option value='0'>0</option>
                                            <option value='1'>1</option>
                                            <option value='2'>2</option>
                                            <option value='3'>3</option>
                                            <option value='4'>4</option>
                                            <option value='5'>5</option>
                                        </select>
                                    </td>
                                    <td id='menu8' class='menu'>
                                        <a href="./files/regular8.html" rel="prettyPopin">
                                            <img src="images/order8.jpg"/></a>
                                        <br/>
                                        <span id="label8" value='구멍난 가게'>[구멍난 가게]</span><br>
                                        <span id="price8" value='3000'>3000</span>원
                                        <br/>
                                        수량 :
                                        <select name="menu8Count" id="menu8Count" class='menuCount'>
                                            <option value='0'>0</option>
                                            <option value='1'>1</option>
                                            <option value='2'>2</option>
                                            <option value='3'>3</option>
                                            <option value='4'>4</option>
                                            <option value='5'>5</option>
                                        </select>
                                    </td>
                                    <td id='menu9' class='menu'>
                                        <a href="./files/regular9.html" rel="prettyPopin">
                                            <img src="images/order9.jpg"/></a>
                                        <br/>
                                        <span id="label9" value='10월 15일'>[10월 15일]<br>
                                        </span>
                                        <span id="price9" value='10150'>10150</span>원
                                        <br/>
                                        수량 :
                                        <select name="menu9Count" id="menu9Count" class='menuCount'>
                                            <option value='0'>0</option>
                                            <option value='1'>1</option>
                                            <option value='2'>2</option>
                                            <option value='3'>3</option>
                                            <option value='4'>4</option>
                                            <option value='5'>5</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- E : book order,count-->

                        <!-- S : price action-->

                        <div class="col-sm-4" style="margin-left: 15%;">
                            <div id="rightdiv">
                                <table id="listTable">
                                    <tr id="listtitle">
                                        <th colspan="3" id="titleText" style="text-align: center;">주문내역</th>
                                    </tr>
                                    <tr id="totallist">
                                        <td colspan='3'>총합 :
                                            <input type='text' id='total'/>
                                            원
                                            <input type='button' class="btn btn-default" value='주문하기' id='btn'/>
                                            <input type="button" value="삭제" id="delete" class="btn btn-default"/>
                                        </td>
                                    </tr>
                                    <tr id="listtr">
                                        <td width="150">제목</td>
                                        <td width="150">수량</td>
                                        <td width="50">가격</td>
                                    </tr>

                                </table>

                            </div>

                            <!-- E : price action -->
                        </div>
                    </div>
                </div>

                <hr>

                <div class="container">
                    <h3 class="text-center">Contact</h3>
                    <p class="text-center">
                        <em>Can you send to me a message</em>
                    </p>
                    <div class="row test">
                        <div class="col-md-4">
                            <p>Thank you</p>
                            <p>
                                <span class="glyphicon glyphicon-map-marker"></span>Kosmo 4
                            </p>
                            <p>
                                <span class="glyphicon glyphicon-phone"></span>Phone: +82 01098765432
                            </p>
                            <p>
                                <span class="glyphicon glyphicon-envelope"></span>Email: xorms8@naver.com
                            </p>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <input
                                        class="form-control"
                                        id="name"
                                        name="name"
                                        placeholder="Name"
                                        type="text"
                                        required="required">
                                </div>
                                <div class="col-sm-6 form-group">
                                    <input
                                        class="form-control"
                                        id="email"
                                        name="email"
                                        placeholder="Email"
                                        type="email"
                                        required="required">
                                </div>
                            </div>
                            <textarea
                                class="form-control"
                                id="comments"
                                name="comments"
                                placeholder="Comment"
                                rows="5"></textarea>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <button type="submit" class="btn btn-default">SEND</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer>
                    <div class="container">
                        <br>
                        <div class="footer">
                            <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                                <span>COMPANY : (주) 당신의 북
                                </span>
                                <span></span><span>PRIVACY MANAGER : 86기</span><br/>
                                <span>ADDRESS : 서울 특별시 구로구 KOSMO 4층</span><br/>
                                <span>김승민 강사님
                                </span><span>감사합니다. 86기 화이팅</span>
                                <p>Copyright. (주)당신의 북-팀프 all rights reserved.</p>
                            </p>
                        </div>
                    </div>
                </footer>
                <!--S : fixed -->
                <div id="fixed">
                    <div style="cursor: pointer;" onclick="window.scrollTo(0,0);">
                        <span class="glyphicon glyphicon-triangle-top"></span>
                    </div>

                    <!--S : jquery animete hahahaha -->

                    <script>
                        $(document).ready(function aa() {
                            //스타일을 변경합니다
                            $('#box')
                                .css({width: 50, height: 100, background: 'rgb(221, 238, 235)'})
                                .animate({
                                    width: 100, height: 200, opacity: 0.8, //불투명도
                                    //마지막 괄호 닫기 전 2000 <-- 나타내주는 속도
                                }, 2000)
                                .animate({
                                    width: 100,
                                    height: 100,
                                    background: 'skyblue'
                                }, 2000, aa) //aa 위에 function 선언해주고 마지막에 속도 옆에 적으면 반복 !!

                        });

                        $(document).ready(function aa() {
                            //스타일을 변경합니다
                            $('#box2')
                                .css({width: 50, height: 100, background: 'rgb(201, 238, 235)'})
                                .animate({
                                    width: 100, height: 200, opacity: 0.8, //불투명도
                                    //마지막 괄호 닫기 전 2000 <-- 나타내주는 속도
                                }, 2000)
                                .animate({
                                    width: 100,
                                    height: 100,
                                    background: 'orange'
                                }, 2000, aa) //aa 위에 function 선언해주고 마지막에 속도 옆에 적으면 반복 !!

                        });
                    </script>

                </head>

                <h2 id="discount">할인 혜택</h2>
                <div id="box">
                    <span id="fixedspan">
                        <h3>chat-bot</h3>
                    </span>
                </div>
                <div id="box2">
                    <span id="fixedspan">AD : click +0.1$</span>
                    <!--E : jquery animete hahahaha -->
                </div>
                <!--E : fix div-->
                <!-- E: body
                ======================================================================================================-->
            </body>
        </html>