<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.freehoon.web.board.replyMapper">
	<select id="getQnaReplyList" resultType="qnareply">
		SELECT
			QNA_BOARD_NUM
			, QNA_REPLY_NUM
			, USER_ID
			, QNA_REPLY_CONTENT
			, QNA_REPLY_DATE
		FROM
			CMIS_QNA_REPLY
		WHERE
			QNA_REPLY_NUM = #{qna_reply_num}
		ORDER BY QNA_REPLY_DATE desc

	</select>


	<insert id="saveQnaReply" parameterType="qnareply">
		INSERT INTO CMIS_QNA_REPLY(QNA_REPLY_NUM, QNA_REPLY_CONTENT, USER_ID, QNA_REPLY_DATE)
		VALUES (
			#{qna_reply_num}
			, #{qna_board_content}
			, #{user_id}
			, DATE_ADD(current_timestamp(), INTERVAL 9 HOUR)
		)

	</insert>
	

	<delete id="deleteQnaReply" parameterType="qnareply">
		DELETE FROM CMIS_QNA_REPLY
		WHERE
			QNA_REPLY_NUM = #{qna_reply_num} AND USER_ID = #{user_id}

	</delete>

</mapper>



