<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<typeAliases>
	<typeAlias alias="member" type="com.perfume.domain.MemberVO"/>
	<typeAlias alias="product" type="com.perfume.domain.ProductVO"/>
	<typeAlias alias="cart" type="com.perfume.domain.CartVO"/>
	<typeAlias alias="cartList" type="com.perfume.domain.CartListVO"/>
	<typeAlias alias="order" type="com.perfume.domain.OrderVO"/>
	<typeAlias alias="orderDetails" type="com.perfume.domain.OrderDetailsVO"/>
	<typeAlias alias="review" type="com.perfume.domain.ReviewVO"/>
	<typeAlias alias="orderView" type="com.perfume.domain.OrderListVO"/>
</typeAliases>


</configuration>
