<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ShopDAO">
  
  
  <!-- 상품 목록 -->
  <select id ="getProductList" resultType="product">
  	SELECT * FROM PRODUCT ORDER BY pID
  </select>
  
  <!-- 상품 상세 내역 -->
  <select id ="getProduct" parameterType="product" resultType="product">
  	SELECT * FROM PRODUCT WHERE pID= #{pID}
  </select>
  
  <!-- 장바구니 Insert -->
  
  <insert id="addCart" parameterType="cart">
  	insert into cart(cartNUM, mID, pID, cartSTOCK)
  		values(cart_seq.nextval, #{mID}, #{pID}, #{cartSTOCK})
  </insert>
  
  
  <!-- 장바구니 리스트 -->
  <select id="cartList" resultType="cartList">
select row_number() over(order by c.cartNUM desc) as num, c.cartNUM, c.mID, c.pID, c.cartSTOCK, c.addDATE, p.pNAME, p.pPRICE, p.pFname
from cart c inner join PRODUCT p on c.pID = p.pID where c.mID = #{mID}
</select>

  <!-- 장바구니 총 합계  -->
    <select id="TotalPrice" resultType="int">
  select sum(pPRICE*cartSTOCK) as result  from 
(select row_number() over(order by c.cartNUM desc) as num, c.cartNUM, c.mID, c.pID, c.cartSTOCK, c.addDATE, p.pID, p.pPRICE, p.pFNAME
from cart c inner join PRODUCT p on c.pID = p.pID where c.mID = #{mID})
  </select>

 <!-- 장바구니 삭제 -->
<delete id="deleteCart">
	delete CART
	where cartNUM= #{cartNUM} and mID = #{mID}
</delete>

<!-- 장바구니 비우기 (주문했을시) -->

<delete id ="cartAllDelete">
	delete cart where mID = #{mID}
</delete>

<!-- 주문정보 -->
<insert id ="orderInfo" parameterType="order">
	insert into ORDERS(oID, mID, oNAME, oADDRESS1,oADDRESS2,oADDRESS3,oPHONE,oAMOUNT)
	values(#{oID},#{mID},#{oNAME},#{oADDRESS1},#{oADDRESS2},#{oADDRESS3},#{oPHONE},#{oAMOUNT})
</insert>

<!-- 주문 상세정보 -->
<insert id="orderInfo_Details" parameterType="orderDetails">
	insert into ORDERS_details(orderDetailsNum, oID, pID, cartSTOCK)
	SELECT ORDERS_details_seq.nextval, #{oID}, pID, cartSTOCK
	from cart
</insert>

<!-- 특정 유저의 주문 목록(리스트) -->
<select id="orderList" resultType="order">
	SELECT oID, mID, oNAME, oADDRESS1, oADDRESS2, oADDRESS3, oPHONE, oAMOUNT, oRDATE, delivery
	from ORDERS
	where mID = #{mID}
	order by oID desc
</select>	

<!-- 특정 유저의 주문목록 총 모음 3중 조인 쿼리 (주문번호 클릭시 상세 정보)-->
<!-- orders table + orders details table + product table  -->
<select id="orderView" resultType="orderView">

select
    o.oID, o.mID, o.oNAME, o.oADDRESS1, o.oADDRESS2, o.oADDRESS3, o.oPHONE, o.oAMOUNT, o.oRDATE, o.delivery,
    d.orderDetailsNum, d.pID, d.cartSTOCK,
    p.pNAME, p.pFname, p.pPRICE
from orders o 
    inner join orders_details d
    on o.oID = d.oID
    inner join product p
    on d.pID = p.pID
where o.mID = #{mID}
    and o.oID= #{oID}

</select>

  </mapper>
  