.contact-section .contact-info p a {
	color: #1a1a1a;
}

.contact-section .box {
	width: 100%;
	display: block;
	background: rgba(0, 0, 0, 0.05);
}

.contact-section .box .icon {
	width: 100px;
	height: 100px;
	background: #f15d30;
	margin: 0 auto;
	margin-bottom: 15px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

.contact-section .box .icon span {
	color: #fff;
	font-size: 30px;
}

.contact-section .box h3 {
	font-size: 18px;
	font-weight: 600;
	color: #f15d30;
}