.loaderbase {
    position: absolute;
    top: 0%;
    z-index: 1060;
    width: 100%;
    height: 10000%;
    background-color: rgba( 0, 0, 0, 0.7 );
}

.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loaderText {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: 100px 0 0 -160px;
}


@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#scrollUp, #back-top{
	background: #f15d30 !important;
}

.btn:hover::before {
	background: none;
	
}
.btn::before{
	background: none;
}
a:hover {
	color : #f15d30 !important;
}
.btn:hover{
	background-color: white;
	color: #f15d30;
	outline: 1px solid #f15d30;
}

.genric-btn.orange {
	color: #fff;
	background: #f15d30;
	border: 2px solid transparent
}

.genric-btn.orange:hover {
	color: #f15d30;
	border: 2px solid #f15d30;
	background: #fff
}

.btn-secondary:not(:disabled):not(.disabled).active{
	background-color: white;
	color: #f15d30;
	outline: 2px solid #f15d30;
}

.pagination-area .page-item.active .page-link{
	background: #f15d30;
	color: white !important;
} 
.pagination-area .page-link:hover{
	background: #f15d30;
	color: white !important;
}
#back-top:hover{
	background: white !important;
}

.table-orange {
	background: #f15d30;
	color:white;
}
.table-orange:hover {
	color: #f15d30;
	background: white;
	outline: 2px solid #f15d30;
}

.nav-link.orange{
	margin-bottom : 10px;
	background-color : #f15d30;
	text-align: center;
}

.nav-link.orange:hover{
	color : #f15d30;
	background: white;
	outline: 2px solid #f15d30;
}

.slider-area form.search-box .search-form a{
	background:#f15d30;
}
.slider-area form.search-box .search-form a:hover{
	background:#fff;
}

.slider-area form.search-box .search-form a:hover i{
	color:#f15d30;
}
.category-listing{
   border:solid 2px #f15d30;
   border-radius: 5px;
}
/* ::-webkit-scrollbar { width: 5.2px; } 스크롤 바
::-webkit-scrollbar-thumb { background: #f15d30; } 실질적 스크롤 바
::-webkit-scrollbar-thumb:hover { background: #f15d30; } 실질적 스크롤 바 위에 마우스를 올려다 둘 때
::-webkit-scrollbar-thumb:active { background: #f15d30; } 실질적 스크롤 바를 클릭할 때
::-webkit-scrollbar-button { display: none; } 스크롤 바 상 하단 버튼 */

 .countShopList{
 text-align: right; 
 color:#f15d30;
 }
 
 .listLine{
 border:solid 1px #f15d30;
 }